/*-- scss:defaults --*/


$mw-color: #990f3d; //a00000
$mw-color-light: #DFB2B2;
$mw-secondary: #050606;
$mw-secondary-light: #7CA6A6;
$wheat: #f2dfce;

// $dark-color: rgb(38, 42, 51);

$mw-dark: #333333;
$mw-light: rgb(255, 255, 221);
// $mw-light: #FFEDE0; //before: f4e9e6
// $mw-light-secondary: #F2DBCE;
$mw-light-secondary: #ebdbb2;
$font-color: #111111;

// $font-family-serif: 'Playfair Display', serif;
// $font-family-sans-serif: 'Josefin Sans', sans-serif;
// $font-family-smallcaps: 'Playfair Display SC', serif;

$link-color: rgb(255, 15, 0);

$body-bg: $mw-light;
$code-block-bg: $mw-light-secondary; //e1d3d0
$code-bg: $mw-light-secondary;
$code-color: $font-color;
$navbar-bg: $mw-light;
$navbar-fg: $font-color;

.navbar {
    border-bottom: solid 1px black;
}
.body {
    font-family: "Inconsolata";
}
