/*-- scss:defaults --*/

$black : #000000;


$mw-color: #990f3d; //a00000
$mw-color-light: #DFB2B2;
$mw-secondary: #050606;
$mw-secondary-light: #7CA6A6;

$mw-dark: #333333;
$mw-light: #FFEDE0; //before: f4e9e6
$mw-light-secondary: #F2DBCE;
$font-color: #111111;

$body-bg: $mw-light;
$link-color: $mw-color;
$input-bg: $mw-light-secondary;
$popover-bg: $mw-light-secondary;
$navbar-bg: $mw-light-secondary;
$code-block-bg: #282c34;

/*-- scss:rules --*/

.title  {
    color: $mw-color;
}
// .cell-output {
//     background-color: #f2dfce;
// }